body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  color:rgb(246, 255, 197);
  font-weight: 100;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  text-transform: uppercase;
  --bs-btn-hover-bg: #e2391b;
  --bs-btn-hover-border-color: #e2391b;
  --bs-btn-active-border-color: #e2391b;
  --bs-btn-active-bg: #e2391b;
}

hr {
  border-color: #F05F44;
  border-width:5px;
  max-width: 65px;
  margin: 10px auto;
}

.btn-xl {
  padding: 1rem 2rem;
}